# frontend/wrangler.toml
name = 'cookai-debugging-fun'
compatibility_date = "2024-12-01"

# Cloudflare Workers 靜態資產設定
[assets]
directory = "dist"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
